@import 'fonts';
@import 'global';
@import 'vars';


//start header
.header__top-main{
  background-color: $grey;
}
.header__top{
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.header__btn{
  margin-left: auto;
  background-color: $blue;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 12px 18px;
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.header{
  &__icon-alarm,
  &__icon-envelope,
  &__icon-cart{
    position: relative;
    &::after{
      position: absolute;
      content: '';
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      height: 22px;
      width: 22px;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      top: -12px;
      left: 16px;
    }
  }
  &__icon-alarm::after{
    content: '25';
    left: 12px;
    width: 26px;
    background-color: #ff6a6c;
    border-radius: 12px;
  }
  &__icon-envelope::after{
    content: '6';
    background-color: #62d03b;
  }
  &__icon-cart::after{
    content:'2';
    background-color: $blue;
  }
}

.header__icons{
  margin: 0px 48px;
  & span{
    color: #7e8fa1;
    font-size: 20px;
    & + span{
      margin-left: 32px;
    }
  }
}
.header__profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 175px;
  height: 50px;
  &-wrap{
    display: flex;
    flex-direction: column;
  }
  &-name{
    color: $text;
    font-size: 16px;
    font-weight: 500;
  }
  & span{
    color: $blue;
    font-size: 15px;
  }
}
.header__menu{
  background-color: #fff;
  &-inner{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }
}
.menu{
  display: flex;
  &-list{
    & li{
      display: inline-block;
      & + li{
        margin-left: 32px;
      }
    }
    & a{
      text-transform: uppercase;
      font-size: 15px;
      font-weight:500;
      color: $text;
    }
  }
}
.header__inner-form{
  width: 360px;
  position: relative;
  & input{
    width: 100%;
    outline: none;
    border : 1px solid #d9dfe5;
    border-radius: 25px;
    padding: 15px 85px 15px 22px;
    &:focus{
      border: 1px solid $blue;
    }
    &::placeholder{
      color: #898f96;
    }
  }
  & button{
    position: absolute;
    right: 0;
    top: 0;
    background-color: $blue;
    width: 70px;
    height: 100%;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    &:focus{
      outline: none;
    }
    &:before{
      color: #fff;
      font-size: 15px;
    }
  }
}
//end header
//start products
.products{
  color: #fff;
  &__wrapper{
    padding: 185px 0px 220px;
    background: linear-gradient(to right, rgba(45,81,209,1) 0%, rgba(11,49,188,1) 100%);
    position: relative;
  }
  &__text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text-title{
    font-size: 60px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  &__text-heading{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 38px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  &__text-descr{
    font-size: 20px;
    font-weight: 500;
  }
  &__buttons{
    display: flex;
    justify-content: center;
    margin-top: 68px;
    & a{
      margin: 0px 15px;
      padding: 20px 30px;
      border: 1px solid #fff;
      border-radius: 30px;
      transition: all .3s;
      &:hover{
        background-color: #fff;
        color: $blue;
      }
    }
  }
}
.products__search{
  max-width: 1140px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -68px;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  &::before{
    content: '';
    position: absolute;
    width: 1110px;
    height: 14px;
    background-color: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -11px;
    border-radius: 5px;
    opacity: .5;
  }
  &::after{
    content: '';
    position: absolute;
    width: 1080px;
    height: 28px;
    background-color: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -22px;
    border-radius: 5px;
    opacity: .5;
  }
  & input{
    max-width: 612px;
    width: 100%;
    padding: 0px 18px;
    line-height: 42px;
    border :none;
    outline: none;
    margin: 0;
    &::placeholder{
      color: #676767;
    }
  }
  & select{
    max-width: 182px;
    width: 100%;
    line-height: 42px;
    padding: 6px 18px;
    border: none;
    border-left: 1px solid #dcdcdc;
    margin: 0;
    outline: none;
    appearance: none;
    // &:before{
    //   content:'\e874';
    //   position: absolute;
    //   font-family: 'Linearicons-Free';
    //   color: #676767;
    //   right: 19px;
    //   top: 22px;
    //   font-size: 12px;
    // }для Артёма(не появляется стрелка)
  }
  & button{
    background-color: $blue;
    padding: 19px 68px;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
}
.products-form-wrap{
  max-width: 808px;
  width: 100%;
  display: inline-block;
  border: 1px solid #dcdcdc !important;
  border-radius: 5px;
  margin-right: 23px;
  padding: 1px;
  position: relative;
  &:before{
    content:'\e874';
    position: absolute;
    font-family: 'Linearicons-Free';
    color: #676767;
    right: 19px;
    top: 22px;
    font-size: 12px;
  }
}
//end products
//start advantages
.advantages{
  padding: 185px 0 120px;
  &__inner{
    display: flex;
    justify-content: space-around;
  }
}
.advantages__item{
  max-width: 360px;
  width: 100%;
  text-align: center;
  padding: 40px 34px 50px;
  border-radius: 5px;
  transition: all .3s;
  &-image{
    display: inline-block;
    text-align: center;
    height: 120px;
    width: 113px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &:hover{
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
  &-title{
    padding: 30px 0px;
    font-size: 24px;
  }
  &-text{
    line-height: 30px;
    color: #555555;
  }
}
//end advantages
//start slider
.slider{
  background-color: #eff1f5;
  padding: 120px 0;
  &__heading{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 30px 40px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    margin-bottom: 50px;
  }
  &__heading-text{
    font-size: 30px;
    font-weight: 700;
  }
  &__heading-arrows{
    background-color: #7347c1;
    width: 110px;
    height: 45px;
    border-radius: 25px;
  }
  &__item{
    height: 450px;
    border-radius: 5px;
    background-color: #fff;
  }
  &__img{
    height: 450px;
    width: 555px;
    margin-right: 50px;
  }
  &__inner{
    height: 100%;
    display: flex;
  }
  &__title{
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
  }
  &__text{
    max-width: 480px;
    line-height: 25px;
    color: #555555;
  }
  &__profile-img{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 18px;
    margin-bottom: 32px;
  }
  &-img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 8px;
  }
  &__theme{
    position: relative;
    padding-left: 45px;
    color: #7347c1;
    &::before{
      position: absolute;
      content: '';
      background-image: url(../images/wptheme.png);
      width: 16px;
      height: 16px;
      left: 20px;
    }
  }
  &__tegs{
    padding: 40px 0px;
    border-bottom: 1px solid #ececec;
  }
  &__teg{
    padding: 5px 10px;
    color: #868c96;
    background-color: #f1f3f6;
    font-size: 15px;
    border-radius: 25px;
    margin-right: 4px;
  }
  &__price-info{
    padding: 29px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  &__icon{
    margin-right: 45px;
    position: relative;
    &--price{
        padding: 8px 18px;
        color: #fff;
        font-weight: 500;
        background-color: $blue;
        border-radius: 25px;
    }
    &--like{
      color: #555555;
      &:before{
        position: absolute;
        color: #7347c1;
        left: -22px;
      }
    }
    &--cart{
      color: $blue;
      &:before{
        position: absolute;
        left: -22px;
      }
    }
    &--rate{
      margin-left: auto;
      margin-right: 0px;
    }
  }
  & .slick-arrow{
    position: absolute;
    font-size: 0px;
    padding: 0px;
    border: none;
    outline: none;
  }
  & .slick-next{
    top: -110px;
    right: 58px;
    line-height: 1;
    background-color: #7347c1;
    color: #fff;
    &::before{
      content: '\e876';
      font-family: 'Linearicons-Free';
      font-size: 14px;
    }
  }
  & .slick-prev{
    top: -110px;
    right: 115px;
    line-height: 1;
    background-color: #7347c1;
    color: #fff;
    &::before{
      content: '\e875';
      font-family: 'Linearicons-Free';
      font-size: 14px;
    }
  }
}
//end slider




